In [29]:
import pandas as pd

# Easy
Открыть набор данных dota_hero_stats.csv из папки data.

Данные взяты отсюда, на этом же сайте можно найти больше разнообразных данных по Dota2.

Пересчитаем число ног у героев игры Dota2! Сгруппируйте героев из датасэта по числу их ног (колонка legs), и посчитайте количество героев для каждого значения legs

In [96]:
import requests
import json
link = 'https://api.opendota.com/api/heroes'
r = requests.get(link)
data = json.loads(r.text)

In [97]:
import pandas as pd
df = pd.DataFrame(data)
df.head(110)

,id,name,localized_name,primary_attr,attack_type,roles,legs
0,1,npc_dota_hero_antimage,Anti-Mage,agi,Melee,"[Carry, Escape, Nuker]",2
1,2,npc_dota_hero_axe,Axe,str,Melee,"[Initiator, Durable, Disabler, Jungler, Carry]",2
2,3,npc_dota_hero_bane,Bane,int,Ranged,"[Support, Disabler, Nuker, Durable]",4
3,4,npc_dota_hero_bloodseeker,Bloodseeker,agi,Melee,"[Carry, Disabler, Jungler, Nuker, Initiator]",2
4,5,npc_dota_hero_crystal_maiden,Crystal Maiden,int,Ranged,"[Support, Disabler, Nuker, Jungler]",2
...,...,...,...,...,...,...,...
105,107,npc_dota_hero_earth_spirit,Earth Spirit,str,Melee,"[Nuker, Escape, Disabler, Initiator, Durable]",2
106,108,npc_dota_hero_abyssal_underlord,Underlord,str,Melee,"[Support, Nuker, Disabler, Durable, Escape]",2
107,109,npc_dota_hero_terrorblade,Terrorblade,agi,Melee,"[Carry, Pusher, Nuker]",2
108,110,npc_dota_hero_phoenix,Phoenix,str,Ranged,"[Support, Nuker, Initiator, Escape, Disabler]",2
109,111,npc_dota_hero_oracle,Oracle,int,Ranged,"[Support, Nuker, Disabler, Escape]",0

In [15]:
df[["localized_name","legs"]].T

,0,1,2,3,4,5,6,7,8,9,...,113,114,115,116,117,118,119,120,121,122
localized_name,Anti-Mage,Axe,Bane,Bloodseeker,Crystal Maiden,Drow Ranger,Earthshaker,Juggernaut,Mirana,Morphling,...,Dark Willow,Pangolier,Grimstroke,Hoodwink,Void Spirit,Snapfire,Mars,Dawnbreaker,Marci,Primal Beast
legs,2,2,4,2,2,2,2,2,2,0,...,2,2,0,4,2,2,2,2,2,2

In [98]:
df["legs"].min()

0

In [99]:
df["legs"].max()

8

In [100]:
df.groupby(["legs"]).localized_name.count()

legs
0    14
2    97
4     8
6     3
8     1
Name: localized_name, dtype: int64

# Normal

Продолжим исследование героев Dota2. Сгруппируйте по колонкам attack_type и primary_attr и выберите самый распространённый набор характеристик. Выведите список героев с этим набором характеристик

In [101]:
df.groupby(["attack_type","primary_attr"]).size()

attack_type  primary_attr
Melee        agi             19
             int              3
             str             38
Ranged       agi             19
             int             40
             str              4
dtype: int64

Самым распространенным набором получается Ranged & int (40)

In [102]:
df.localized_name[(df["attack_type"] == "Ranged") & (df["primary_attr"] == "int")]

2                     Bane
4           Crystal Maiden
12                    Puck
16            Storm Spirit
20              Windranger
21                    Zeus
23                    Lina
24                    Lion
25           Shadow Shaman
28            Witch Doctor
29                    Lich
31                  Enigma
32                  Tinker
34               Necrophos
35                 Warlock
37           Queen of Pain
41           Death Prophet
43                   Pugna
48                  Dazzle
50                 Leshrac
51        Nature's Prophet
56             Enchantress
62                  Jakiro
63                Batrider
64                    Chen
66      Ancient Apparition
72                 Invoker
73                Silencer
74      Outworld Destroyer
77            Shadow Demon
84                  Rubick
85               Disruptor
88     Keeper of the Light
90                  Visage
99           Skywrath Mage
103                Techies
109                 Oracle
110          Winter Wyvern
113            Dark Willow
115             Grimstroke
Name: localized_name, dtype: object